<section class="events">
    <div class="container container-small">
        <h1 class="page-title">Наши мероприятия</h1>
        <div class="events-grid">
            <div class="events-grid__item">
                <div class="events-grid__item-image">
                    <img src="img/base/events-1.jpg" alt="" class="events-grid__item-image-img">
                </div>
                <div class="events-grid__item-info">
                    <h2 class="events-grid__item-info-title">Турниры</h2>
                    <div class="events-grid__item-info-desc">Наша школа регулярно проводит турниры для детей со всеми уровнями владения шахматным мастерством</div>
                </div>
            </div>
            <div class="events-grid__item">
                <div class="events-grid__item-image">
                    <img src="img/base/events-2.jpg" alt="" class="events-grid__item-image-img">
                </div>
                <div class="events-grid__item-info">
                    <h2 class="events-grid__item-info-title">Разряды</h2>
                    <div class="events-grid__item-info-desc">Особой популярностью пользуются турниры с присвоением спортивных разрядов, которые мы также проводим в нашем учебном заведении</div>
                </div>
            </div>
        </div>
    </div>
</section>