<section class="home-about">
    <div class="container">
        <h2 class="home-about_title home-title" data-aos="fade-in">О нашей школе</h2>
        <div class="home-about-wrapper">
            <div class="home-about_info" data-aos="fade-right" data-aos-delay="200">
                <div class="home-about_info-item">
                    <div class="home-about_info-item_image">
                        <img src="img/base/home-about-1.svg" alt="">
                    </div>
                    <h3 class="home-about_info-item_title">Заголовок</h3>
                    <p class="home-about_info-item_desc">В среднем, на протяжении учебного года у нас обучаются более 100 учеников</p>
                </div>
                <div class="home-about_info-item">
                    <div class="home-about_info-item_image">
                        <img src="img/base/home-about-2.svg" alt="">
                    </div>
                    <h3 class="home-about_info-item_title">Заголовок</h3>
                    <p class="home-about_info-item_desc">В среднем, на протяжении учебного года у нас обучаются более 100 учеников</p>
                </div>
                <div class="home-about_info-item">
                    <div class="home-about_info-item_image">
                        <img src="img/base/home-about-3.svg" alt="">
                    </div>
                    <h3 class="home-about_info-item_title">Заголовок</h3>
                    <p class="home-about_info-item_desc">В среднем, на протяжении учебного года у нас обучаются более 100 учеников</p>
                </div>
                <div class="home-about_info-item">
                    <div class="home-about_info-item_image">
                        <img src="img/base/home-about-4.svg" alt="">
                    </div>
                    <h3 class="home-about_info-item_title">Заголовок</h3>
                    <p class="home-about_info-item_desc">В среднем, на протяжении учебного года у нас обучаются более 100 учеников</p>
                </div>
            </div>
            <div class="home-about_video" data-aos="fade-left" data-aos-delay="400">
                <div class="home-about_video-inner">
                    <img src="img/base/youtube-poster.jpg" class="home-about_video-poster" alt="">
                    <button class="home-about_video-play" data-src="KxQIcxlMudw">
                        <img src="img/base/youtube-play.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>