<section class="home-coaches">
    <div class="container container-small">
        <h2 class="home-coaches__title home-title" data-aos="fade-in">Наши педагоги</h2>
        <ul class="home-coaches__list">
            <li class="home-coaches__list-item" data-aos="fade-in" data-aos-delay="100">
                <div class="home-coaches__list-item_image">
                    <img src="img/base/coach-1.png" alt="">
                </div>
                <div class="home-coaches__list-item_info">
                    <div class="home-coaches__list-item_info-name">Квитко Никита Константинович</div>
                    <ul class="home-coaches__list-item_info-skills">
                        <li class="home-coaches__list-item_info-skills-item">Кандидат в мастера спорта</li>
                        <li class="home-coaches__list-item_info-skills-item">Instructor FIDE</li>
                        <li class="home-coaches__list-item_info-skills-item">Призер городских соревнований</li>
                        <li class="home-coaches__list-item_info-skills-item">Педагог дополнительного образования</li>
                    </ul>
                </div>
            </li>
            <li class="home-coaches__list-item" data-aos="fade-in" data-aos-delay="200">
                <div class="home-coaches__list-item_image">
                    <img src="img/base/coach-2.png" alt="">
                </div>
                <div class="home-coaches__list-item_info">
                    <div class="home-coaches__list-item_info-name">Коцур Иван Павлович</div>
                    <ul class="home-coaches__list-item_info-skills">
                        <li class="home-coaches__list-item_info-skills-item">Кандидат в мастера спорта</li>
                        <li class="home-coaches__list-item_info-skills-item">Высшее педагогическое образование</li>
                        <li class="home-coaches__list-item_info-skills-item">Призер республиканских чемпионатов Казахстана </li>
                    </ul>
                </div>
            </li>
            <li class="home-coaches__list-item" data-aos="fade-in" data-aos-delay="300">
                <div class="home-coaches__list-item_image">
                    <img src="img/base/coach-3.png" alt="">
                </div>
                <div class="home-coaches__list-item_info">
                    <div class="home-coaches__list-item_info-name">Сёмин Владимир Николаевич</div>
                    <ul class="home-coaches__list-item_info-skills">
                        <li class="home-coaches__list-item_info-skills-item">Кандидат в мастера спорта</li>
                        <li class="home-coaches__list-item_info-skills-item">Тренер высшей категории</li>
                        <li class="home-coaches__list-item_info-skills-item">Воспитал чемпиона СССР и США</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>