<section class="home-features">
    <div class="container home-features--inner">
        <h2 class="home-features__title home-title" data-aos="fade-in">Чем так привлекательны шахматы?</h2>
        <div class="home-features__content">
            <ul class="home-features__list">
                <li class="home-features__list-item" data-aos="fade-right" data-aos-delay="100">
                    <h3 class="home-features__list-item_title">Развитие интеллекта и логического мышления</h3>
                    <p class="home-features__list-item_desc">Каждая шахматная партия – это безграничный простор для развития умственных и творческих способностей ребенка</p>
                </li>
                <li class="home-features__list-item" data-aos="fade-right" data-aos-delay="200">
                    <h3 class="home-features__list-item_title">Целеполагание и принятие решений:</h3>
                    <p class="home-features__list-item_desc">Юные шахматисты с первых занятий учатся главным правилам игры, постановке задач и поискам путей их решения</p>
                </li>
                <li class="home-features__list-item" data-aos="fade-right" data-aos-delay="300">
                    <h3 class="home-features__list-item_title">Умение анализировать:</h3>
                    <p class="home-features__list-item_desc">Широкий спектр возможностей за доской позволяет ребятам учиться оценивать ситуацию и строить дальнейшие планы</p>
                </li>
                <li class="home-features__list-item" data-aos="fade-right" data-aos-delay="400">
                    <h3 class="home-features__list-item_title">Гармоничное воспитание:</h3>
                    <p class="home-features__list-item_desc">Шахматы – это уважение к сопернику, соревновательных дух, бесценный опыт побед и поражений</p>
                </li>
            </ul>
            <img class="home-features__bg home-features__bg--desktop" src="img/base/home-features-bg.png" alt="">
        </div>
        <img class="home-features__bg home-features__bg--mobile" src="img/base/home-features-bg--mobile.png" alt="">
    </div>

</section>