<section class="home-form">
    <div class="container">
        <h2 class="home-form__title home-title">Связаться с нами</h2>
        <div class="home-form-inner">
            <div class="home-form__map">
                <div class="home-form__map-iframe">
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac4d4067adde54e1e5d7976bd121b6193092ebb64b114ff6529e186bfcf1fc510&amp;source=constructor"></iframe>
                </div>
                <div class="home-form__map-content"></div>
            </div>
            <form action="#" class="home-form__fields">
                <h3 class="home-form__fields-title">Оставить заявку</h3>
                <input type="text" placeholder="Имя*" required>
                <input type="text" placeholder="Номер телефона*" required>
                <div class="textarea-autosize">
                    <textarea name="" placeholder="Комментарий или сообщение"></textarea>
                </div>
                <div class="home-form__fields-bottom">
                    <button type="submit" class="home-form__fields-bottom-button btn btn-white">Оставить заявку</button>
                    <div class="home-form__fields-bottom-text">
                        Нажимая кнопку “Отправить” вы выражаете согласие с <a href="#">Политикой конфиденциальности</a> 
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>