<section class="home-intro">
    <div class="container">
        <div class="home-intro__text" data-aos="fade-in">
            <h1 class="home-intro__text-title">Шахматная школа "Лидер"</h1>
            <p class="home-intro__text-desc">Разовьём смекалку, творческое мышление и волю к победе!</p>
            <div class="home-intro__text-link-inner">
                <a href="#" class="home-intro__text-link btn btn-green">Заказать обратный звонок</a>
            </div>
        </div>
    </div>
    <img class="home-intro__image" src="img/base/home-intro-bg.jpg" alt="">
</section>