<section class="home-reviews">
    <div class="container">
        <h2 class="home-reviews__title home-title" data-aos="fade-in">Ценим отзыв каждого клиента:</h2>
        <div class="home-reviews__wrapper swiper" data-aos="fade-out" data-aos-delay="200">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="home-reviews__slide">
                        <div class="home-reviews__slide-top">Моему ребёнку 4,5 года. Мы начали заниматься шахматами в 4. Ребёнку очень нравится и мне видны результаты. Большое спасибо Никите Квитко за то, что сумел заинтересовать ребёнка.</div>
                        <div class="home-reviews__slide-bottom">
                            <div class="home-reviews__slide-bottom__image">
                                <img src="img/base/home-reviews-1.png" alt="">
                            </div>
                            <div class="home-reviews__slide-bottom__info">
                                <div class="home-reviews__slide-bottom__info-name">Елена Антипова</div>
                                <div class="home-reviews__slide-bottom__info-date">6 окт. 2019</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="home-reviews__slide">
                        <div class="home-reviews__slide-top">Наш сын, впервые, принял участие в онлайн турнире и показал хороший результат. За этот год совершил огромный прогресс и, если раньше часто проигрывал бабушке и папе,то сейчас просто не оставляет им шанса на победу! Спасибо огромное школе Лидер, что пробудили у ребёнка такую любовь к шахматам</div>
                        <div class="home-reviews__slide-bottom">
                            <div class="home-reviews__slide-bottom__image">
                                <img src="img/base/home-reviews-2.png" alt="">
                            </div>
                            <div class="home-reviews__slide-bottom__info">
                                <div class="home-reviews__slide-bottom__info-name">Машуся Ордина</div>
                                <div class="home-reviews__slide-bottom__info-date">15 авг. 2021</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="home-reviews__slide">
                        <div class="home-reviews__slide-top">Сын занимается месяц, очень радует, что интерес к шахматам после этих занятий усилился, с нетерпением ждёт каждой новой встречи с преподавателями. Последним особая благодарность за доступность и содержательность доносимой до детей инфрормации, а также за из терпение и деликатность</div>
                        <div class="home-reviews__slide-bottom">
                            <div class="home-reviews__slide-bottom__image">
                                <img src="img/base/home-reviews-3.png" alt="">
                            </div>
                            <div class="home-reviews__slide-bottom__info">
                                <div class="home-reviews__slide-bottom__info-name">Ольга Щербинина</div>
                                <div class="home-reviews__slide-bottom__info-date">26 окт 2020</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="home-reviews__slide">
                        <div class="home-reviews__slide-top">Моему ребёнку 4,5 года. Мы начали заниматься шахматами в 4. Ребёнку очень нравится и мне видны результаты. Большое спасибо Никите Квитко за то, что сумел заинтересовать ребёнка.</div>
                        <div class="home-reviews__slide-bottom">
                            <div class="home-reviews__slide-bottom__image">
                                <img src="img/base/home-reviews-1.png" alt="">
                            </div>
                            <div class="home-reviews__slide-bottom__info">
                                <div class="home-reviews__slide-bottom__info-name">Елена Антипова</div>
                                <div class="home-reviews__slide-bottom__info-date">6 окт. 2019</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="home-reviews__slide">
                        <div class="home-reviews__slide-top">Наш сын, впервые, принял участие в онлайн турнире и показал хороший результат. За этот год совершил огромный прогресс и, если раньше часто проигрывал бабушке и папе,то сейчас просто не оставляет им шанса на победу! Спасибо огромное школе Лидер, что пробудили у ребёнка такую любовь к шахматам</div>
                        <div class="home-reviews__slide-bottom">
                            <div class="home-reviews__slide-bottom__image">
                                <img src="img/base/home-reviews-2.png" alt="">
                            </div>
                            <div class="home-reviews__slide-bottom__info">
                                <div class="home-reviews__slide-bottom__info-name">Машуся Ордина</div>
                                <div class="home-reviews__slide-bottom__info-date">15 авг. 2021</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="home-reviews__slide">
                        <div class="home-reviews__slide-top">Сын занимается месяц, очень радует, что интерес к шахматам после этих занятий усилился, с нетерпением ждёт каждой новой встречи с преподавателями. Последним особая благодарность за доступность и содержательность доносимой до детей инфрормации, а также за из терпение и деликатность</div>
                        <div class="home-reviews__slide-bottom">
                            <div class="home-reviews__slide-bottom__image">
                                <img src="img/base/home-reviews-3.png" alt="">
                            </div>
                            <div class="home-reviews__slide-bottom__info">
                                <div class="home-reviews__slide-bottom__info-name">Ольга Щербинина</div>
                                <div class="home-reviews__slide-bottom__info-date">26 окт 2020</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>