.page-content{
    padding-bottom: 80px;
    @include media-up(lg){
        padding-bottom: 120px;
    }

    .page-title{
        font-size: 24px;
        line-height: 30px;
        @include media-up(md){
            font-size: 28px;
            line-height: 36px;
        }
        @include media-up(lg){
            font-size: 48px;
            line-height: 64px;
        }
        @include media-up(xxl){
            font-size: 60px;
            line-height: 72px;
        }

        &.post-title{
            text-align: left;
            @include media-up(lg){
                margin-bottom: 48px;
            }
        }

    }

    .post-thumbnail{
        height: 0;
        position: relative;
        padding-bottom: 56%;
        margin-bottom: 30px;
        @include media-up(md){
            margin-bottom: 60px;
        }

        &__image{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    .content-container{
        max-width: 970px;
    }

    p{
        font-size: 14px;
        line-height: 1.4;
        @include media-up(md){
            font-size: 16px;
        }
        @include media-up(xl){
            font-size: 18px;
        }


        & + *{
            margin-top: 24px;
            @include media-up(md){
                margin-top: 36px;
            }
            @include media-up(xxl){
                margin-top: 48px;
            }
        }
    }

    h1,h2,h3,h4,h5,h6{
        color: $color-green-dark;
        margin-top: 35px;
        margin-bottom: 15px;
        line-height: 1.3;
        @include media-up(md){
            margin-top: 45px;
        }
        @include media-up(lg){
            margin-top: 60px;
        }
    }

    h2{
        font-size: 20px;
        @include media-up(md){
            font-size: 25px;
        }
        @include media-up(lg){
            font-size: 36px;
        }
    }

    h3{
        font-size: 18px;
        @include media-up(md){
            font-size: 23px;
        }
        @include media-up(lg){
            font-size: 32px;
        }
    }

    h4{
        font-size: 16px;
        @include media-up(md){
            font-size: 20px;
        }
        @include media-up(lg){
            font-size: 26px;
        }
    }

    h5{
        font-size: 14px;
        @include media-up(md){
            font-size: 16px;
        }
        @include media-up(lg){
            font-size: 18px;
        }
    }

    h6{
        font-size: 12px;
        @include media-up(md){
            font-size: 14px;
        }
        @include media-up(lg){
            font-size: 16px;
        }
    }

}