<section class="events">
    <div class="container container-small">
        <h1 class="page-title">Корпоративным клиентам</h1>
        <div class="events-grid">
            <div class="events-grid__item">
                <div class="events-grid__item-image">
                    <img src="img/base/events-3.jpg" alt="" class="events-grid__item-image-img">
                </div>
                <div class="events-grid__item-info">
                    <h2 class="events-grid__item-info-title">Корпоративные занятия</h2>
                    <div class="events-grid__item-info-desc">Мы имеем возможность по согласованию проводить корпоративные занятия для работников фирм, которые с нами сотрудничают</div>
                </div>
            </div>
            <div class="events-grid__item">
                <div class="events-grid__item-image">
                    <img src="img/base/events-4.jpg" alt="" class="events-grid__item-image-img">
                </div>
                <div class="events-grid__item-info">
                    <h2 class="events-grid__item-info-title">Корпоративные турниры</h2>
                    <div class="events-grid__item-info-desc">Также мы можем организовывать и проводить корпоративные турниры </div>
                </div>
            </div>
        </div>
    </div>
</section>