<section class="prices">
    <div class="container container-small">
        <h1 class="page-title">Стоимость абонементов</h1>
        <div class="prices-grid">
            <div class="prices-grid__item">
                <div class="prices-grid__item-top">
                    <div class="prices-grid__item-top_title">Стартовый</div>
                    <div class="prices-grid__item-top_price">3200₽/мес.</div>
                    <div class="prices-grid__item-top_image">
                        <img src="img/icons/prices-1.svg" alt="">
                    </div>    
                </div>
               <div class="prices-grid__item-count">1 Занятие в неделю</div>
               <hr>
               <ul class="prices-grid__item-conditions">
                   <li>Условие абонемента</li>
                   <li>Условие абонемента</li>
                   <li>Условие абонемента</li>
               </ul>
            </div>
            <div class="prices-grid__item">
                <div class="prices-grid__item-top">
                    <div class="prices-grid__item-top_title">Продвинутый</div>
                    <div class="prices-grid__item-top_price">4800₽/мес.</div>
                    <div class="prices-grid__item-top_image">
                        <img src="img/icons/prices-2.svg" alt="">
                    </div>    
               </div>
                <div class="prices-grid__item-count">2 Занятие в неделю</div>
                <hr>
                <ul class="prices-grid__item-conditions">
                    <li>Условие абонемента</li>
                    <li>Условие абонемента</li>
                    <li>Условие абонемента</li>
                    <li>Условие абонемента</li>
                </ul>
             </div>
            <div class="prices-grid__item">
                <div class="prices-grid__item-top">
                    <div class="prices-grid__item-top_title">Чемпионский</div>
                    <div class="prices-grid__item-top_price">6000₽/мес.</div>
                    <div class="prices-grid__item-top_image">
                        <img src="img/icons/prices-3.svg" alt="">
                    </div>    
                </div>
                <div class="prices-grid__item-count">Более 3х занятий в неделю</div>
                <hr>
                <ul class="prices-grid__item-conditions">
                    <li>Условие абонемента</li>
                    <li>Условие абонемента</li>
                    <li>Условие абонемента</li>
                    <li>Условие абонемента</li>
                    <li>Условие абонемента</li>
                    <li>Условие абонемента</li>
                </ul>
            </div>
            <div class="prices-grid__item prices-grid__item--sale">
                <div class="prices-grid__item-top">
                    <div class="prices-grid__item-top_title">Акция</div>
                    <div class="prices-grid__item-top_price">3200₽/мес.</div>
                    <div class="prices-grid__item-top_image">
                        <img src="img/icons/prices-4.svg" alt="">
                    </div>    
               </div>
                <div class="prices-grid__item-count">1 Занятие в неделю</div>
                <hr>
                <ul class="prices-grid__item-conditions">
                    <li>Условие абонемента</li>
                    <li>Условие абонемента</li>
                    <li>Условие абонемента</li>
                    <li>Условие абонемента</li>
                </ul>
            </div>
        </div>
    </div>
</section>