<section class="gallery">
    <div class="container">
        <h1 class="page-title">Галерея</h1>
        <div class="gallery-grid">
            <a href="img/base/gallery-item-1@2x.jpg" data-fancybox="gallery" class="gallery-grid-item">
                <img src="img/base/gallery-item-1.jpg" alt="">
            </a>
            <a href="img/base/gallery-item-2@2x.jpg" data-fancybox="gallery" class="gallery-grid-item">
                <img src="img/base/gallery-item-2.jpg" alt="">
            </a>
            <a href="img/base/gallery-item-3@2x.jpg" data-fancybox="gallery" class="gallery-grid-item">
                <img src="img/base/gallery-item-3.jpg" alt="">
            </a>
            <a href="img/base/gallery-item-4.jpg" data-fancybox="gallery" class="gallery-grid-item">
                <img src="img/base/gallery-item-4.jpg" alt="">
            </a>
            <a href="img/base/gallery-item-5@2x.jpg" data-fancybox="gallery" class="gallery-grid-item">
                <img src="img/base/gallery-item-5.jpg" alt="">
            </a>
            <a href="img/base/gallery-item-6@2x.jpg" data-fancybox="gallery" class="gallery-grid-item">
                <img src="img/base/gallery-item-6.jpg" alt="">
            </a>
            <a href="img/base/gallery-item-7@2x.jpg" data-fancybox="gallery" class="gallery-grid-item">
                <img src="img/base/gallery-item-7.jpg" alt="">
            </a>
            <a href="img/base/gallery-item-4.jpg" data-fancybox="gallery" class="gallery-grid-item">
                <img src="img/base/gallery-item-4.jpg" alt="">
            </a>
            <a href="img/base/gallery-item-6@2x.jpg" data-fancybox="gallery" class="gallery-grid-item">
                <img src="img/base/gallery-item-6.jpg" alt="">
            </a>
            <a href="img/base/gallery-item-7@2x.jpg" data-fancybox="gallery" class="gallery-grid-item">
                <img src="img/base/gallery-item-7.jpg" alt="">
            </a>
            <a href="img/base/gallery-item-1@2x.jpg" data-fancybox="gallery" class="gallery-grid-item">
                <img src="img/base/gallery-item-1.jpg" alt="">
            </a>
            <a href="img/base/gallery-item-2@2x.jpg" data-fancybox="gallery" class="gallery-grid-item">
                <img src="img/base/gallery-item-2.jpg" alt="">
            </a>
            <a href="img/base/gallery-item-3@2x.jpg" data-fancybox="gallery" class="gallery-grid-item">
                <img src="img/base/gallery-item-3.jpg" alt="">
            </a>
            <a href="img/base/gallery-item-5@2x.jpg" data-fancybox="gallery" class="gallery-grid-item">
                <img src="img/base/gallery-item-5.jpg" alt="">
            </a>
            <a href="img/base/gallery-item-3@2x.jpg" data-fancybox="gallery" class="gallery-grid-item">
                <img src="img/base/gallery-item-3.jpg" alt="">
            </a>
            <a href="img/base/gallery-item-4.jpg" data-fancybox="gallery" class="gallery-grid-item">
                <img src="img/base/gallery-item-4.jpg" alt="">
            </a>
            <a href="img/base/gallery-item-1@2x.jpg" data-fancybox="gallery" class="gallery-grid-item">
                <img src="img/base/gallery-item-1.jpg" alt="">
            </a>
            <a href="img/base/gallery-item-2@2x.jpg" data-fancybox="gallery" class="gallery-grid-item">
                <img src="img/base/gallery-item-2.jpg" alt="">
            </a>
            <a href="img/base/gallery-item-5@2x.jpg" data-fancybox="gallery" class="gallery-grid-item">
                <img src="img/base/gallery-item-5.jpg" alt="">
            </a>
            <a href="img/base/gallery-item-6@2x.jpg" data-fancybox="gallery" class="gallery-grid-item">
                <img src="img/base/gallery-item-6.jpg" alt="">
            </a>
            <a href="img/base/gallery-item-7@2x.jpg" data-fancybox="gallery" class="gallery-grid-item">
                <img src="img/base/gallery-item-7.jpg" alt="">
            </a>
        </div>
    </div>
</section>