.shedule-title{
    p{
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: $color-green-dark;
        text-align: center;
    }
}
.wp-block-timetable{
    max-width: 1260px;
    padding: 0 15px;
    margin: 24px auto 30px;
    @include media-up(md){
        margin: 24px auto 90px;
        padding: 0 30px;
    }
    @include media-up(xl){
        margin: 24px auto 180px;  
    }

    .mptt-shortcode-wrapper{
        @include media-up(md){
            overflow-x: auto;
        }
    }

    .mptt-menu.mptt-navigation-select{
        width: auto;
        background-color: #f0f0f0;
        padding: 0 10px;
    }

    .event-subtitle{
        font-weight: 600;
        @include media-between(md,lg){
            font-size: .7em !important;
        }
    }

    
    .event-description{
        font-weight: 500;
    }

    tbody .mptt-event-container{
        justify-content: center;
        &:hover{
            z-index: initial !important;
        }
    }
}